.expandedCardContainer{
    z-index: 10;
    align-self: center;
    margin-top: 30px;
    position: relative;
    overflow: scroll;

    width: 65%;
    min-width: 550px;

    max-height: 100vh;
    overflow-y: auto;

    border-radius: 12px;
}

.outerexpandedCardContainer {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.611);
    position:fixed;

    z-index: 1001;
    display: flex; flex-direction: column;

}

.expandedImage {
    width: 100%;
    align-items: center;
    position: relative;
    /* z-index: 1009; */
}

.expandedDetailsContainer {
    padding: 1rem;
    position: relative;
    background-color: rgba(24, 24, 24, 0.974);
    top: -60px;
}

.expandedDetails{
    padding: 0 40px;
}

.closeCardBtn {
    width: 40px;
    height: 40px;
    margin: 18px;

    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 1);

    background-image: url('../../assets/plus.png');
    rotate: 45deg;
    background-size: cover;     background-position: center;
}

.closeCardBtn:hover {
    border-color: rgb(30, 30, 30);
    background-color: rgba(30, 30, 30, 0.974);
}

.closeDiv {
    position: absolute;
    z-index: 1;
    width: 100%;


    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.playBtn {
    position: absolute;
    z-index: 1;
    width: 200px;
}
.playBtn a {
    background: rgb(245, 245, 245);
    border: 2px solid rgb(220, 220, 220);
    border-radius: 12px;
    padding: 16px 64px;
    margin: 80px;
    
    color: #1a1a1a;
    font-size:x-large;
    font-weight: 700;
}
.playBtn a:hover {
    background: rgb(225, 225, 225);
}


::-webkit-scrollbar {
    display: none;
}