@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pageEndContainer {
    margin: 60px 60px;
    margin-bottom: 0;

    position: relative;
    top: -60px;
    display: flex; flex-direction: column;
    align-items: center;
    text-align: center;
    height: 160px;
    /* overflow: hidden; */

}

.pageEndContainer h3 {
    margin: 0px;
    font-family: "Space Mono", monospace;
    font-weight: 700;
    cursor: default;
}

.feedbackBtnContainer {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 40%;
    height: 100%;
}

.feedbackBtnContainer button {
    font-family: "Space Mono", monospace; font-weight: 600; 
    font-size: large;
    color: rgb(0, 0, 0);
    border: 0;
    
    padding: 15px;
    /* width: 1000px; */
    background-color: rgba(252, 228, 228, 0.886);
    transition: all 0.2s ease;
    width: 15%;
}
.yesReviewBtn {
    position: absolute;
    left: 30%;
}
.yesReviewBtn:hover{
    box-shadow: 4px 4px 4px rgba(255, 0, 0, 0.95);
    color: rgba(255, 0, 0, 0.96);
    background-color: rgba(252, 228, 228, 0.948);
    border: 0;
    transform: scale(1.05);
}

#noReviewBtn {
    position: absolute;
    right: 30%;
}
#noReviewBtn {
    cursor:none;
}