.cardContainer {
    width: 256px;
    height: 144px;
    background-color: rgb(20, 20, 20);
    transition: transform 0.35s ease;
    flex: 0 0 auto;
    position: relative;
    z-index: 2;
}

.cardContainer > img {
    width: 100%;
    aspect-ratio: 1.77;

    object-fit:cover;
    
}

.hoverContainer:hover {
    transform: scale(1.4);
    transform-origin: 50% 50%;
    /* animation: scaleUp 0.4s ease forwards; */

    /* transition: scale 0.6s ease, height 0.6s ease; */
    /* max-height: 432px; */
    height: 288px;
    position: relative;
    z-index: 20;
    box-shadow: 0px 4px 15px rgb(0, 0, 0);
    cursor: pointer;
    overflow: visible;
}


.cardText{
    display: none;
    padding: 10px;
    transition: display 0.35s ease;
    transform-origin: 50% 100%;
    
}

.hoverContainer:hover .cardText {
    transform-origin: 50% 100%;
    display: block;
    transition: display 0.35s ease;

}

.cardinfobtn {
    width: 32px;
    height: 32px;
    opacity: 85%;
    object-fit:cover;
    border-radius: 100%;
    background-color: rgb(26, 26, 26);
    border: 2px solid rgb(50, 50, 50);
}

.cardinfobtn:hover{
    border-color: rgba(255, 247, 247, 0.8);
    background-color: rgb(32, 32, 32);
    opacity: 100%;
}   

.cardText div {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 768px) {
    .cardContainer{
        width: 25vw;
        height: calc(25vw/1.77);
    }
    .moregoBtn {
        display: none;
    }
    .cardinfobtn {
        width: 20px;
        height: 20px;
    }

    .cardText{
        font-size: smaller;
        height:fit-content;
        padding: 0 10px;
        position: relative;
        height: 20px;
    }
    .cardText div {
        height: 20px;
    }
    .hoverContainer:hover {
        height: calc(25vw/1.77 + 35px);
        transform: scale(1.2);
        transform-origin: 50% 100%;
        z-index: 1000;
    }
    #hoverDescription {
        display: none;
    }
}
@media (max-width: 600px) {
    .cardContainer{
        width: 30vw;
    }
}
@media (max-width: 512px) {
    .cardContainer{
        width: 30vw;
    }
    .hoverContainer:hover{
        height: 32px;
    }
    .cardText div{
        position: absolute;
        left: 0;
        top: -40px;
        width: 100%;
        padding: 0px 10px;
        box-sizing: border-box;
    }
}
@media (max-width: 412px) {
    .cardContainer{
        width: 45vw;
        transition: all 0.2x ease;
    }
    .cardinfobtn {
        transform: scale(1.5);
        border: 0;
    }
    .hoverContainer:hover {
        transform: scale(1.2);
        transform-origin: 50% 100%;
        z-index: 1000;
    }
}